Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [272]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\key\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\key\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\key\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\key\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\key\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\key\anaconda3\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\key\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\key\anaconda3\lib\site-packages (from requests) (2020.6.20)

In [2]:
from bs4 import BeautifulSoup
import requests

In [4]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [ ]:
page.content

In [6]:
soup=BeautifulSoup(page.content,'html.parser')

In [ ]:
print(soup.prettify())

In [9]:
print(soup.find_all(["h1", "h2", "h3", "h4", "h5", "h6"]))

[<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>, <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>, <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>, <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>, <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>, <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>, <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>, <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>, <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>, <h2>Navigation menu</h2>, <h3 id="p-personal-label">
<span>Personal tools</span>
</h3>, <h3 id="p-namespaces-label">
<span>Namespaces</span>
</h3>, <h3 id="p-variants-label">
<span>Variants</span>
</h3>, <h3 id="p-views-label">
<span>Views</span>
</h3>, <h3 id="p-cactions-label">
<span>More</span>
</h3>, <h3>
<label for="searchInput">Search</label>
</h3>, <h3 id="p-navigation-label">
<span>Navigation</span>
</h3>, <h3 id="p-interaction-label">
<span>Contribute</span>
</h3>, <h3 id="p-tb-label">
<span>Tools</span>
</h3>, <h3 id="p-coll-print_export-label">
<span>Print/export</span>
</h3>, <h3 id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>, <h3 id="p-lang-label">
<span>Languages</span>
</h3>]

Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [12]:
imdb_page=requests.get('https://www.imdb.com/list/ls091520106/')

In [ ]:
imdb_page.content

In [14]:
bs=BeautifulSoup(imdb_page.content,'html.parser')

In [ ]:
print(bs.prettify())

1.Name, 2.IMDB_rating, 3.Year_of_release

In [148]:
movie_containers = bs.find_all('div', class_ = 'lister-item-content')
print(type(movie_containers))
print(len(movie_containers))

<class 'bs4.element.ResultSet'>
100

In [ ]:
first_movie = movie_containers[0]
first_movie

In [154]:
first_movie.a

In [152]:
first_movie.h3

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0111161/">The Shawshank Redemption</a>
<span class="lister-item-year text-muted unbold">(1994)</span>
</h3>

In [155]:
first_name = first_movie.h3.a.text
first_name

'The Shawshank Redemption'

In [156]:
first_year = first_movie.h3.find('span', class_ = 'lister-item-year text-muted unbold')
first_year

In [157]:
first_year = first_year.text
first_year

'(1994)'

In [ ]:
first_movie.div

In [177]:
first_rating=first_movie.div.div.find('span',class_='ipl-rating-star__rating')
first_rating

In [179]:
first_imdb=float(first_rating.text)
first_imdb

9.3

In [ ]:
list=bs.find_all('h3',class_="lister-item-header")
list[0:100]

In [203]:
for x in list:
    for y in x.find_all('a'):
        print(y.text)

The Shawshank Redemption
The Godfather
The Godfather: Part II
The Dark Knight
12 Angry Men
Schindler's List
The Lord of the Rings: The Return of the King
Pulp Fiction
Il buono, il brutto, il cattivo
Fight Club
Joker
The Lord of the Rings: The Fellowship of the Ring
Forrest Gump
Inception
Star Wars: Episode V - The Empire Strikes Back
The Lord of the Rings: The Two Towers
The Matrix
One Flew Over the Cuckoo's Nest
Goodfellas
Shichinin no samurai
Se7en
Cidade de Deus
La vita è bella
The Silence of the Lambs
Star Wars
It's a Wonderful Life
Saving Private Ryan
Sen to Chihiro no kamikakushi
The Green Mile
Léon
Seppuku
Interstellar
The Usual Suspects
The Lion King
American History X
Back to the Future
The Pianist
Modern Times
Terminator 2: Judgment Day
The Intouchables
Psycho
Gladiator
City Lights
The Departed
Whiplash
Once Upon a Time in the West
The Prestige
Avengers: Endgame
Casablanca
Hotaru no haka
Rear Window
Nuovo Cinema Paradiso
Alien
Raiders of the Lost Ark
Memento
Apocalypse Now
The Great Dictator
The Lives of Others
Avengers: Infinity War
Django Unchained
Spider-Man: Into the Spider-Verse
The Shining
Paths of Glory
WALL·E
Sunset Blvd.
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
Mononoke-hime
Oldeuboi
Witness for the Prosecution
The Dark Knight Rises
Once Upon a Time in America
Gisaengchung
Aliens
American Beauty
Coco
Kimi no na wa.
Braveheart
Das Boot
3 Idiots
Taare Zameen Par
Star Wars: Episode VI - Return of the Jedi
Toy Story
Reservoir Dogs
Amadeus
Dangal
Good Will Hunting
Inglourious Basterds
M - Eine Stadt sucht einen Mörder
Requiem for a Dream
2001: A Space Odyssey
Vertigo
Eternal Sunshine of the Spotless Mind
Citizen Kane
Full Metal Jacket
Jagten
North by Northwest
A Clockwork Orange
Snatch
Amélie
The Kid

In [740]:
names = []
years = []
imdb_ratings = []
for container in movie_containers:
    if container.find('div', class_ = 'ratings-metascore') is not None:
        name = container.h3.a.text
        names.append(name)
        
        year = container.h3.find('span', class_ = 'lister-item-year text-muted unbold').text
        years.append(year)
        
        imdb = container.div.div.find('span',class_='ipl-rating-star__rating').text
        imdb_ratings.append(imdb)

In [198]:
import pandas as pd
test_df = pd.DataFrame({'movie': names,
'year': years,
'imdb': imdb_ratings,
})
print(test_df.info())
test_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   movie   92 non-null     object
 1   year    92 non-null     object
 2   imdb    92 non-null     object
dtypes: object(3)
memory usage: 2.3+ KB
None

                       movie    year imdb
0   The Shawshank Redemption  (1994)  9.3
1              The Godfather  (1972)  9.2
2     The Godfather: Part II  (1974)    9
3            The Dark Knight  (2008)    9
4               12 Angry Men  (1957)    9
..                       ...     ...  ...
87                    Jagten  (2012)  8.3
88        North by Northwest  (1959)  8.3
89        A Clockwork Orange  (1971)  8.3
90                    Snatch  (2000)  8.3
91                    Amélie  (2001)  8.3

[92 rows x 3 columns]

Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
iii) Top 10 ODI bowlers along with the records of their team and rating.

1)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [330]:
iccpage=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [ ]:
iccpage.content

In [332]:
iccsoup=BeautifulSoup(iccpage.content,'html.parser')

In [ ]:
print(iccsoup.prettify())

In [417]:
team_containers = iccsoup.find_all('tr', class_ = 'table-body')
print(type(team_containers))
print(len(team_containers))

<class 'bs4.element.ResultSet'>
19

In [418]:
first_team = team_containers[0]
first_team

<tr class="table-body" data-team-id="14">
<td class="table-body__cell table-body__cell--position u-text-right">2</td>
<td class="table-body__cell rankings-table__team">
<span class="flag-15 table-body_logo IND"></span>
<span class="u-hide-phablet">India</span>
<span class="u-show-phablet">IND</span>
</td>
<td class="table-body__cell u-center-text">52</td>
<td class="table-body__cell u-center-text">6,102</td>
<td class="table-body__cell u-text-right rating">117</td>
</tr>

In [428]:
tags = first_team.find_all(['span', 'td'])
for tag in tags:
        print(' '.join(tag.text.split()))

2
India IND

India
IND
52
6,102
117

In [439]:
for td_tag in first_team.find_all('td'):
    print(td_tag.text, td_tag.next_sibling)

2



India
IND


52

6,102

117

In [442]:
for td_tag in team_containers[1].find_all('td'):
    print(td_tag.text, td_tag.next_sibling)

3



New Zealand
NZ


32

3,716

116

In [443]:
for td_tag in team_containers[2].find_all('td'):
    print(td_tag.text, td_tag.next_sibling)

4



Australia
AUS


39

4,344

111

In [446]:
for td_tag in team_containers[3].find_all('td'):
    print(td_tag.text, td_tag.next_sibling)

5



South Africa
SA


31

3,345

108

In [447]:
for td_tag in team_containers[4].find_all('td'):
    print(td_tag.text, td_tag.next_sibling)

6



Pakistan
PAK


35

3,490

100

In [448]:
for td_tag in team_containers[5].find_all('td'):
    print(td_tag.text, td_tag.next_sibling)

7



Bangladesh
BAN


37

3,366

91

In [449]:
for td_tag in team_containers[6].find_all('td'):
    print(td_tag.text, td_tag.next_sibling)

8



Sri Lanka
SL


39

3,297

85

In [450]:
for td_tag in team_containers[7].find_all('td'):
    print(td_tag.text, td_tag.next_sibling)

9



West Indies
WI


46

3,402

74

In [451]:
for td_tag in team_containers[8].find_all('td'):
    print(td_tag.text, td_tag.next_sibling)

10



Afghanistan
AFG


31

1,844

59

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [455]:
iccplayer=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

In [ ]:
iccplayer.content

In [457]:
icc_player=BeautifulSoup(iccplayer.content,'html.parser')

In [ ]:
print(icc_player.prettify())

In [542]:
playername=icc_player.find_all('td',class_="table-body__cell rankings-table__name name")
playername[0:10]

[<td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/107">Rohit Sharma</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/2759">Babar Azam</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/226">Ross Taylor</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/167">Aaron Finch</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/24">Francois du Plessis</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/170">David Warner</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/440">Kane Williamson</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/834">Quinton de Kock</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/506">Jonny Bairstow</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1568">Imam-ul-Haq</a>
 </td>]

In [543]:
for x in playername[0:10]:
    for y in x.find_all('a'):
        print(y.text)

Rohit Sharma
Babar Azam
Ross Taylor
Aaron Finch
Francois du Plessis
David Warner
Kane Williamson
Quinton de Kock
Jonny Bairstow
Imam-ul-Haq

In [507]:
country_containers = icc_player.find_all('td', class_ = 'table-body__cell nationality-logo rankings-table__team')
print(type(country_containers))
print(len(country_containers))

<class 'bs4.element.ResultSet'>
99

In [508]:
first_country = country_containers[0]
first_country

<td class="table-body__cell nationality-logo rankings-table__team">
<span class="flag-15 table-body_logo IND"></span>
<span class="table-body__logo-text">IND</span>
</td>

In [518]:
for x in country_containers[0:10]:
    for y in x.find_all('span'):
        print(y.text)

IND

PAK

NZ

AUS

SA

AUS

NZ

SA

ENG

PAK

In [519]:
rating_containers = icc_player.find_all('tr', class_ = 'table-body')
print(type(rating_containers))
print(len(rating_containers))

<class 'bs4.element.ResultSet'>
99

In [521]:
first_rating = rating_containers[0]
first_rating

<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
                            2
        <span class="ranking-pos no-change"></span>
</td>
<td class="table-body__cell rankings-table__name name">
<a href="/rankings/mens/player-rankings/107">Rohit Sharma</a>
</td>
<td class="table-body__cell nationality-logo rankings-table__team">
<span class="flag-15 table-body_logo IND"></span>
<span class="table-body__logo-text">IND</span>
</td>
<td class="table-body__cell rating">842</td>
<td class="table-body__cell u-text-right u-hide-phablet">
                                885 v Sri Lanka, 06/07/2019
                        </td>
</tr>

In [526]:
tags = rating_containers[0].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

2
Rohit Sharma
IND
842
885 v Sri Lanka, 06/07/2019

In [527]:
tags = rating_containers[1].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

3
Babar Azam
PAK
837
846 v Sri Lanka, 20/10/2017

In [528]:
tags = rating_containers[2].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

4
Ross Taylor
NZ
818
841 v Bangladesh, 05/06/2019

In [529]:
tags = rating_containers[3].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

5
Aaron Finch
AUS
791
798 v England, 25/06/2019

In [530]:
tags = rating_containers[4].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

6
Francois du Plessis
SA
790
820 v Australia, 06/07/2019

In [531]:
tags = rating_containers[5].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

7
David Warner
AUS
773
880 v Pakistan, 26/01/2017

In [532]:
tags = rating_containers[6].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

8
Kane Williamson
NZ
765
799 v India, 09/07/2019

In [533]:
tags = rating_containers[7].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

9
Quinton de Kock
SA
755
813 v Sri Lanka, 10/03/2019

In [534]:
tags = rating_containers[8].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

10
Jonny Bairstow
ENG
754
777 v Australia, 21/06/2018

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [535]:
iccbowler=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [ ]:
iccbowler.content

In [537]:
icc_bowler=BeautifulSoup(iccbowler.content,'html.parser')

In [ ]:
print(icc_bowler.prettify())

In [ ]:
bowlername=icc_bowler.find_all('tr',class_="table-body")
bowlername[0:10]

In [545]:
for x in bowlername[0:10]:
    for y in x.find_all('a'):
        print(y.text)

Mujeeb Ur Rahman
Jasprit Bumrah
Mehedi Hasan
Chris Woakes
Kagiso Rabada
Josh Hazlewood
Mustafizur Rahman
Mohammad Amir
Pat Cummins
Matt Henry

In [547]:
country_cont = icc_bowler.find_all('td', class_ = 'table-body__cell nationality-logo rankings-table__team')
print(type(country_cont))
print(len(country_cont))

<class 'bs4.element.ResultSet'>
99

In [550]:
bowlercountry=icc_bowler.find_all('td',class_="table-body__cell nationality-logo rankings-table__team")
bowlercountry[0:10]

[<td class="table-body__cell nationality-logo rankings-table__team">
 <span class="flag-15 table-body_logo AFG"></span>
 <span class="table-body__logo-text">AFG</span>
 </td>,
 <td class="table-body__cell nationality-logo rankings-table__team">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="table-body__logo-text">IND</span>
 </td>,
 <td class="table-body__cell nationality-logo rankings-table__team">
 <span class="flag-15 table-body_logo BAN"></span>
 <span class="table-body__logo-text">BAN</span>
 </td>,
 <td class="table-body__cell nationality-logo rankings-table__team">
 <span class="flag-15 table-body_logo ENG"></span>
 <span class="table-body__logo-text">ENG</span>
 </td>,
 <td class="table-body__cell nationality-logo rankings-table__team">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="table-body__logo-text">SA</span>
 </td>,
 <td class="table-body__cell nationality-logo rankings-table__team">
 <span class="flag-15 table-body_logo AUS"></span>
 <span class="table-body__logo-text">AUS</span>
 </td>,
 <td class="table-body__cell nationality-logo rankings-table__team">
 <span class="flag-15 table-body_logo BAN"></span>
 <span class="table-body__logo-text">BAN</span>
 </td>,
 <td class="table-body__cell nationality-logo rankings-table__team">
 <span class="flag-15 table-body_logo PAK"></span>
 <span class="table-body__logo-text">PAK</span>
 </td>,
 <td class="table-body__cell nationality-logo rankings-table__team">
 <span class="flag-15 table-body_logo AUS"></span>
 <span class="table-body__logo-text">AUS</span>
 </td>,
 <td class="table-body__cell nationality-logo rankings-table__team">
 <span class="flag-15 table-body_logo NZ"></span>
 <span class="table-body__logo-text">NZ</span>
 </td>]

In [551]:
first_country=bowlercountry[0]
first_country

<td class="table-body__cell nationality-logo rankings-table__team">
<span class="flag-15 table-body_logo AFG"></span>
<span class="table-body__logo-text">AFG</span>
</td>

In [552]:
for x in bowlercountry[0:10]:
    for y in x.find_all('span'):
        print(y.text)

AFG

IND

BAN

ENG

SA

AUS

BAN

PAK

AUS

NZ

In [553]:
rating_cont = icc_bowler.find_all('tr', class_ = 'table-body')
print(type(rating_cont))
print(len(rating_cont))

<class 'bs4.element.ResultSet'>
99

In [554]:
first_rating = rating_cont[0]
first_rating

<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
                            2
        <span class="ranking-pos no-change"></span>
</td>
<td class="table-body__cell rankings-table__name name">
<a href="/rankings/mens/player-rankings/4572">Mujeeb Ur Rahman</a>
</td>
<td class="table-body__cell nationality-logo rankings-table__team">
<span class="flag-15 table-body_logo AFG"></span>
<span class="table-body__logo-text">AFG</span>
</td>
<td class="table-body__cell rating">708</td>
<td class="table-body__cell u-text-right u-hide-phablet">
                                712 v Ireland, 24/01/2021
                        </td>
</tr>

In [558]:
tags = rating_cont[0].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

2
Mujeeb Ur Rahman
AFG
708
712 v Ireland, 24/01/2021

In [559]:
tags = rating_cont[1].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

3
Jasprit Bumrah
IND
700
841 v West Indies, 01/11/2018

In [560]:
tags = rating_cont[2].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

4
Mehedi Hasan
BAN
694
694 v West Indies, 25/01/2021

In [561]:
tags = rating_cont[3].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

5
Chris Woakes
ENG
675
676 v New Zealand, 14/07/2019

In [562]:
tags = rating_cont[4].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

6
Kagiso Rabada
SA
665
724 v England, 29/05/2017

In [563]:
tags = rating_cont[5].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

7
Josh Hazlewood
AUS
660
733 v England, 26/01/2018

In [564]:
tags = rating_cont[6].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

8
Mustafizur Rahman
BAN
658
695 v West Indies, 14/12/2018

In [565]:
tags = rating_cont[7].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

9
Mohammad Amir
PAK
647
663 v Sri Lanka, 02/10/2019

In [567]:
tags = rating_cont[8].find_all(['td'])
for tag in tags:
        print(' '.join(tag.text.split()))

10
Pat Cummins
AUS
646
729 v Pakistan, 12/06/2019

4.Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [600]:
books=requests.get('https://bookpage.com/reviews')

In [ ]:
books.content

In [602]:
book_details=BeautifulSoup(books.content,'html.parser')

In [ ]:
print(book_details.prettify())

In [ ]:
bookdetails=book_details.find_all('div',class_="flex-article-content")
bookdetails[0:5]

In [605]:
book_containers = book_details.find_all('div', class_ = 'flex-article-content')
print(type(book_containers))
print(len(book_containers))

<class 'bs4.element.ResultSet'>
10

In [606]:
first_book = book_containers[0]
first_book

<div class="flex-article-content">
<h4 class="italic">
<a href="/reviews/25949-gideon-sterer-midnight-fair-childrens"> <span style="font-style:normal;">★ </span>The Midnight Fair</a>
</h4>
<p class="sans bold">
Gideon Sterer, Mariachiara Di Giorgio
</p>
<p class="genre-links hidden-phone">
<a href="/search?book_genre=children_s">Children's</a>
 /
<a href="/search?book_genre=children_s_picture_book">Children's Picture Book</a>
</p>
<p class="excerpt">
<p>While some books light paths with their words,other books don’t need words to shine. <strong>The Midnight Fair</strong> may be a wordless picture book, but its story is clear, compelling and utterly enchanting.</p>
</p>
<div class="read-full">
<a href="/reviews/25949-gideon-sterer-midnight-fair-childrens">Read the Review <i class="zmdi zmdi-chevron-right"></i></a>
</div>
</div>

In [620]:
first_book.h4.a.text

' ★ The Midnight Fair'

In [621]:
second_book = book_containers[1]
second_book.h4.a.text

' ★ City of the Uncommon Thief'

In [622]:
third_book = book_containers[2]
third_book.h4.a.text

'How the One-Armed Sister Sweeps Her House'

In [623]:
fourth_book = book_containers[3]
fourth_book.h4.a.text

'Super Host'

In [624]:
fifth_book = book_containers[4]
fifth_book.h4.a.text

'The Paris Library'

In [608]:
first_book.p

<p class="sans bold">
Gideon Sterer, Mariachiara Di Giorgio
</p>

In [610]:
tags = first_book.find_all(['p'])
for tag in tags:
        print(' '.join(tag.text.split()))

Gideon Sterer, Mariachiara Di Giorgio
Children's / Children's Picture Book
While some books light paths with their words,other books don’t need words to shine. The Midnight Fair may be a wordless picture book, but its story is clear, compelling and utterly enchanting.
While some books light paths with their words,other books don’t need words to shine. The Midnight Fair may be a wordless picture book, but its story is clear, compelling and utterly enchanting.

In [619]:
for p_tag in book_containers[0].find_all('p'):
    print(p_tag.text)

Gideon Sterer, Mariachiara Di Giorgio


Children's
 /
Children's Picture Book


While some books light paths with their words,other books don’t need words to shine. The Midnight Fair may be a wordless picture book, but its story is clear, compelling and utterly enchanting.

While some books light paths with their words,other books don’t need words to shine. The Midnight Fair may be a wordless picture book, but its story is clear, compelling and utterly enchanting.

In [614]:
for p_tag in book_containers[1].find_all('p'):
    print(p_tag.text)

Lynne Bertrand


YA
 /
YA Fiction


When you see “Relevant Maps” listed as the first item in City of the Uncommon Thief’s table of contents, you know you’re in for an epic story. What you won’t know until you finish reading, however, is that Lynne Bertrand’s first young adult novel is not only a...

When you see “Relevant Maps” listed as the first item in City of the Uncommon Thief’s table of contents, you know you’re in for an epic story. What you won’t know until you finish reading, however, is that Lynne Bertrand’s first young adult novel is not only a...

In [615]:
for p_tag in book_containers[2].find_all('p'):
    print(p_tag.text)

Cherie Jones


Fiction
 /
Literary Fiction


In her engrossing and darkly lyrical debut novel, How the One-Armed Sister Sweeps Her House, Bajan author Cherie Jones unspools a discomfiting allegory of race, class and intergenerational trauma in a far from idyllic fictional Caribbean community.

In her engrossing and darkly lyrical debut novel, How the One-Armed Sister Sweeps Her House, Bajan author Cherie Jones unspools a discomfiting allegory of race, class and intergenerational trauma in a far from idyllic fictional Caribbean community.

In [616]:
for p_tag in book_containers[3].find_all('p'):
    print(p_tag.text)

Kate Russo


Fiction
 /
Family Drama


In Super Host, the first novel from Kate Russo (daughter of Richard Russo), Bennett has been taking it a little bit too easy.

In [617]:
for p_tag in book_containers[4].find_all('p'):
    print(p_tag.text)

Janet Skeslien Charles


Fiction
 /
Historical Fiction


One might wonder if anything new can be written about Paris, but Janet Skeslien Charles reminds us of the city’s evergreen appeal and unbounded potential for stories with The Paris Library, which tells of the very real, very beloved American Library in Paris and the role it played during...

One might wonder if anything new can be written about Paris, but Janet Skeslien Charles reminds us of the city’s evergreen appeal and unbounded potential for stories with The Paris Library, which tells of the very real, very beloved American Library in Paris and the role it played during...

7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [240]:
import numpy as np
from time import sleep
from random import randint

In [241]:
product_name=[]
price=[]
image_url=[]
average_rating=[]

In [675]:
pages = np.arange(1,16)

for page in pages: 
  
  page=requests.get("https://www.amazon.in/s?i=electronics&rh=n%3A1805559031%2Cp_36%3A-1900000&fs=true&page=" +str(page) + "&rnid=1318502031" + "&ref=" +str(page))
  
  soup = BeautifulSoup(page.text, 'html.parser')
  
  mobile_div = soup.find_all('div', class_='sg-col-inner')
  
  sleep(randint(2,10))

In [676]:
mobile_div

[]

In [669]:
for container in mobile_div:
    
    name = container.h2.text
    
    product_name.append(name)

In [ ]:
product_name

In [33]:
qid=np.arange(1612710700,1612710900)
for page in pages:
    pages = np.arange(1,16)
    mobiles=requests.get("https://www.amazon.in/s?i=electronics&rh=n%3A1805559031%2Cp_36%3A-1900000&fs=true&page=" +str(page) + "qid=" +str(qid) + "&rnid=1318502031" + "&ref=" +str(page))

In [252]:
url = "https://www.amazon.in/s?rh=n%3A1805559031&fs=true&ref=lp_1805559031_sar"
r = requests.get(url)
sp = BeautifulSoup(r.content, "html.parser")

In [ ]:
sp

In [ ]:
print(sp.prettify())

In [ ]:
mobiles.content

In [35]:
mobile_details=BeautifulSoup(mobiles.content,'html.parser').

In [271]:
mobile_cont = sp.find_all('ul', class_ = 'pagination-list')
print(type(mobile_cont))
print(len(mobile_cont))

<class 'bs4.element.ResultSet'>
0

In [247]:
list1=[]
mobiledetails=sp.find_all("ul",class_="pagination-list")
for i in mobiledetails:
    mobile=sp.find_all("li")
    for j in range(1,len(mobile)):
        list1.append(mobile[j])
list1

[]

In [59]:
mobile_containers = mobile_details.find_all('div', class_ = 'a-section a-spacing-medium')
print(type(mobile_containers))
print(len(mobile_containers))

<class 'bs4.element.ResultSet'>
24

In [ ]:
first_mobile = mobile_containers[0]
first_mobile

In [696]:
first_mobile_name=first_mobile.h2.a.text.replace('\n','')
first_mobile_name

'Samsung Galaxy M02s (Blue,4GB RAM, 64GB Storage) | 5000 mAh | Triple Camera'

In [698]:
first_mobile_price=first_mobile.find('span', class_ = 'a-price-whole')
first_mobile_price

In [699]:
first_mobile_price=first_mobile_price.text
first_mobile_price

'9,999'

In [701]:
first_mobile_rating=first_mobile.find('span', class_ = 'a-size-base')
first_mobile_rating

In [702]:
first_mobile_rating=first_mobile_rating.text
first_mobile_rating

'815'

In [717]:
first_mobile_imageurl=first_mobile.find('img', class_ = 's-image')
first_mobile_imageurl

<img alt="Samsung Galaxy M02s (Blue,4GB RAM, 64GB Storage) | 5000 mAh | Triple Camera" class="s-image" data-image-index="0" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" onload="window.uet &amp;&amp; uet('cf')" src="https://m.media-amazon.com/images/I/71wkpcIfqdL._AC_UL320_.jpg" srcset="https://m.media-amazon.com/images/I/71wkpcIfqdL._AC_UL320_.jpg 1x, https://m.media-amazon.com/images/I/71wkpcIfqdL._AC_UL480_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71wkpcIfqdL._AC_UL640_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71wkpcIfqdL._AC_UL800_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71wkpcIfqdL._AC_UL960_QL65_.jpg 3x"/>

In [735]:
for first_mobile_imageurl in first_mobile.find_all('div',{'class':'a-section a-spacing-medium'}):
    link = first_mobile_imageurl.find('img',src=True)
    if link is None:
        continue
    print(link['src'])

In [756]:
product_name=[]
price_mobile=[]
image_url=[]
average_rating=[]
for container in mobile_containers:
    name = container.h2.a.text.replace('\n','')
    product_name.append(name)
        
    rating = container.find('span', class_ = 'a-size-base').text
    average_rating.append(rating)
    
    price = container.find('span', class_ = 'a-price-whole')
    price_mobile.append(price)

In [757]:
import pandas as pd
test_df = pd.DataFrame({'mobile': product_name,
'rating': average_rating,
'price': price_mobile,
})
print(test_df.info())
test_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mobile  24 non-null     object
 1   rating  24 non-null     object
 2   price   23 non-null     object
dtypes: object(3)
memory usage: 704.0+ bytes
None

                                               mobile  rating    price
0   Samsung Galaxy M02s (Blue,4GB RAM, 64GB Storag...     815  [9,999]
1   Samsung Galaxy M02s (Blue,3GB RAM, 32GB Storag...     815  [8,999]
2                        Nokia 105 Single SIM (Black)  14,024  [1,158]
3   Samsung Galaxy M02s (Black,3GB RAM, 32GB Stora...     815  [8,999]
4   Samsung Galaxy M02s (Black,4GB RAM, 64GB Stora...     815  [9,999]
5   Samsung Galaxy M02s (Red,3GB RAM, 32GB Storage...     815  [8,999]
6   Samsung Galaxy M02s (Red,4GB RAM, 64GB Storage...     815     None
7                         Nokia 105 Single SIM (Blue)  14,024  [1,159]
8                          NOKIA 105 Dual SIM (Black)   7,102  [1,318]
9   Micromax X741 (Grey, Ultra Bright LED Light, 1...   1,094  [1,200]
10  Nokia 5310 Dual SIM Feature Phone with MP3 Pla...   2,773  [3,397]
11           Samsung Guru FM Plus (SM-B110E/D, Black)   7,156  [1,599]
12                        Nokia 105 Single SIM (Pink)  14,024  [1,151]
13               Micromax X381 1.77 inch Phone (Blue)      25    [867]
14                Samsung Guru 1200 (GT-E1200, Black)  12,216  [1,340]
15  Nokia 5310 Dual SIM Feature Phone with MP3 Pla...   2,773  [3,338]
16             Samsung Guru Music 2 (SM-B310E, Black)  18,888  [1,910]
17                         Nokia 110 Dual SIM (Black)   1,606  [1,610]
18                           Nokia 150 (2020) (Black)     250  [2,261]
19                     NOKIA 105 Dual SIM (Dark Blue)   7,102  [1,348]
20                                  Nokia 216 (Black)   7,547  [2,725]
21  Nokia 3310 Dual SIM Feature Phone with MP3 Pla...   7,563  [3,451]
22                        Samsung Guru FM Plus (Gold)   7,156  [1,449]
23          Samsung Guru 1200 (GT-E1200, Indigo Blue)  12,216  [1,150]

8.Write a python program to extract information about the local weather from the National Weather Service
website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day
extended forecast display for the city. The data should include period, short description, temperature and
description.

In [95]:
weather=requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YCCq7OgzbIU')

In [ ]:
weather.content

In [97]:
weather_details=BeautifulSoup(weather.content,'html.parser')

In [ ]:
print(weather_details.prettify())

In [ ]:
temperature_details=weather_details.find_all('div',class_="panel-body")
temperature_details

In [128]:
list1=[]
weatherdetails=weather_details.find_all("div",class_="pull-left")
for i in weatherdetails:
    wd=weather_details.find_all("p")
    for j in range(4,6):
        list1.append(wd[j])
list1[0]

In [129]:
listF=list1[0].text
listF

'53°F'

In [130]:
list1[1]

In [131]:
listC=list1[1].text
listC

'12°C'

In [ ]:
list2=[]
weatherdet=weather_details.find_all("div",class_="pull-left")
for i in weatherdetails:
    w=weather_details.find_all("tr")
    for j in range(0,6):
        list2.append(w[j])
list2

In [157]:
list2[0:6]

[<tr>
 <td class="text-right"><b>Humidity</b></td>
 <td>75%</td>
 </tr>,
 <tr>
 <td class="text-right"><b>Wind Speed</b></td>
 <td>NA NA MPH</td>
 </tr>,
 <tr>
 <td class="text-right"><b>Barometer</b></td>
 <td>NA</td>
 </tr>,
 <tr>
 <td class="text-right"><b>Dewpoint</b></td>
 <td>46°F (8°C)</td>
 </tr>,
 <tr>
 <td class="text-right"><b>Visibility</b></td>
 <td>NA</td>
 </tr>,
 <tr>
 <td class="text-right"><b>Last update</b></td>
 <td>
                 07 Feb 06:43 PM PST            </td>
 </tr>]

In [158]:
list2[0]

<tr>
<td class="text-right"><b>Humidity</b></td>
<td>75%</td>
</tr>

In [164]:
for td_tag in list2[0].find_all('td'):
    print(td_tag.text)

Humidity
75%

In [145]:
list2[1]

<tr>
<td class="text-right"><b>Wind Speed</b></td>
<td>NA NA MPH</td>
</tr>

In [163]:
for td_tag in list2[1].find_all('td'):
    print(td_tag.text)

Wind Speed
NA NA MPH

In [146]:
list2[2]

<tr>
<td class="text-right"><b>Barometer</b></td>
<td>NA</td>
</tr>

In [162]:
for td_tag in list2[2].find_all('td'):
    print(td_tag.text)

Barometer
NA

In [147]:
list2[3]

<tr>
<td class="text-right"><b>Dewpoint</b></td>
<td>46°F (8°C)</td>
</tr>

In [161]:
for td_tag in list2[3].find_all('td'):
    print(td_tag.text)

Dewpoint
46°F (8°C)

In [148]:
list2[4]

<tr>
<td class="text-right"><b>Visibility</b></td>
<td>NA</td>
</tr>

In [160]:
for td_tag in list2[4].find_all('td'):
    print(td_tag.text)

Visibility
NA

In [155]:
list2[5]

<tr>
<td class="text-right"><b>Last update</b></td>
<td>
                07 Feb 06:43 PM PST            </td>
</tr>

In [159]:
for td_tag in list2[5].find_all('td'):
    print(td_tag.text)

Last update

                07 Feb 06:43 PM PST

In [172]:
temperature_details[2].div.text

'TonightPartly cloudy, with a low around 46. West southwest wind 5 to 8 mph. '

In [191]:
temperature_details[1].div.div

<div class="tombstone-container">
<p class="period-name">Tonight<br/><br/></p>
<p><img alt="Tonight: Partly cloudy, with a low around 46. West southwest wind 5 to 8 mph. " class="forecast-icon" src="newimages/medium/nsct.png" title="Tonight: Partly cloudy, with a low around 46. West southwest wind 5 to 8 mph. "/></p><p class="short-desc">Partly Cloudy</p><p class="temp temp-low">Low: 46 °F</p></div>

In [192]:
for p_tag in temperature_details[1].div.div.find_all('p'):
    print(p_tag.text)

Tonight

Partly Cloudy
Low: 46 °F

In [ ]:
weekly_wetherforecast=weather_details.find_all('div',class_="tombstone-container")
weekly_wetherforecast

In [199]:
weekly_wetherforecast[0]

<div class="tombstone-container">
<p class="period-name">Tonight<br/><br/></p>
<p><img alt="Tonight: Partly cloudy, with a low around 46. West southwest wind 5 to 8 mph. " class="forecast-icon" src="newimages/medium/nsct.png" title="Tonight: Partly cloudy, with a low around 46. West southwest wind 5 to 8 mph. "/></p><p class="short-desc">Partly Cloudy</p><p class="temp temp-low">Low: 46 °F</p></div>

In [209]:
for p_tag in weekly_wetherforecast[0].find_all('p'):
    print(p_tag.text)

Tonight

Partly Cloudy
Low: 46 °F

In [200]:
weekly_wetherforecast[1]

<div class="tombstone-container">
<p class="period-name">Monday<br/><br/></p>
<p><img alt="Monday: Patchy fog before 10am.  Otherwise, mostly cloudy, with a high near 58. Calm wind becoming west 5 to 8 mph in the afternoon. " class="forecast-icon" src="DualImage.php?i=fg&amp;j=bkn" title="Monday: Patchy fog before 10am.  Otherwise, mostly cloudy, with a high near 58. Calm wind becoming west 5 to 8 mph in the afternoon. "/></p><p class="short-desc">Patchy Fog<br/>then Mostly<br/>Cloudy</p><p class="temp temp-high">High: 58 °F</p></div>

In [213]:
for p_tag in weekly_wetherforecast[1].find_all('p'):
    print(p_tag.text)

Monday

Patchy Fogthen MostlyCloudy
High: 58 °F

In [201]:
weekly_wetherforecast[2]

<div class="tombstone-container">
<p class="period-name">Monday<br/>Night</p>
<p><img alt="Monday Night: Mostly cloudy, with a low around 49. West wind 7 to 11 mph. " class="forecast-icon" src="newimages/medium/nbkn.png" title="Monday Night: Mostly cloudy, with a low around 49. West wind 7 to 11 mph. "/></p><p class="short-desc">Mostly Cloudy</p><p class="temp temp-low">Low: 49 °F</p></div>

In [214]:
for p_tag in weekly_wetherforecast[2].find_all('p'):
    print(p_tag.text)

MondayNight

Mostly Cloudy
Low: 49 °F

In [215]:
weekly_wetherforecast[3]

<div class="tombstone-container">
<p class="period-name">Tuesday<br/><br/></p>
<p><img alt="Tuesday: Mostly cloudy, with a high near 58. West wind 7 to 10 mph. " class="forecast-icon" src="newimages/medium/bkn.png" title="Tuesday: Mostly cloudy, with a high near 58. West wind 7 to 10 mph. "/></p><p class="short-desc">Mostly Cloudy</p><p class="temp temp-high">High: 58 °F</p></div>

In [217]:
for p_tag in weekly_wetherforecast[3].find_all('p'):
    print(p_tag.text)

Tuesday

Mostly Cloudy
High: 58 °F

In [216]:
weekly_wetherforecast[4]

<div class="tombstone-container">
<p class="period-name">Tuesday<br/>Night</p>
<p><img alt="Tuesday Night: Partly cloudy, with a low around 47. West wind 5 to 8 mph becoming calm  after midnight. " class="forecast-icon" src="newimages/medium/nsct.png" title="Tuesday Night: Partly cloudy, with a low around 47. West wind 5 to 8 mph becoming calm  after midnight. "/></p><p class="short-desc">Partly Cloudy</p><p class="temp temp-low">Low: 47 °F</p></div>

In [218]:
for p_tag in weekly_wetherforecast[4].find_all('p'):
    print(p_tag.text)

TuesdayNight

Partly Cloudy
Low: 47 °F

In [203]:
weekly_wetherforecast[5]

<div class="tombstone-container">
<p class="period-name">Wednesday<br/><br/></p>
<p><img alt="Wednesday: Mostly sunny, with a high near 60." class="forecast-icon" src="newimages/medium/sct.png" title="Wednesday: Mostly sunny, with a high near 60."/></p><p class="short-desc">Mostly Sunny</p><p class="temp temp-high">High: 60 °F</p></div>

In [219]:
for p_tag in weekly_wetherforecast[5].find_all('p'):
    print(p_tag.text)

Wednesday

Mostly Sunny
High: 60 °F

In [204]:
weekly_wetherforecast[6]

<div class="tombstone-container">
<p class="period-name">Wednesday<br/>Night</p>
<p><img alt="Wednesday Night: Partly cloudy, with a low around 48." class="forecast-icon" src="newimages/medium/nsct.png" title="Wednesday Night: Partly cloudy, with a low around 48."/></p><p class="short-desc">Partly Cloudy</p><p class="temp temp-low">Low: 48 °F</p></div>

In [220]:
for p_tag in weekly_wetherforecast[6].find_all('p'):
    print(p_tag.text)

WednesdayNight

Partly Cloudy
Low: 48 °F

In [205]:
weekly_wetherforecast[7]

<div class="tombstone-container">
<p class="period-name">Thursday<br/><br/></p>
<p><img alt="Thursday: A chance of showers.  Mostly cloudy, with a high near 58." class="forecast-icon" src="newimages/medium/shra.png" title="Thursday: A chance of showers.  Mostly cloudy, with a high near 58."/></p><p class="short-desc">Chance<br/>Showers</p><p class="temp temp-high">High: 58 °F</p></div>

In [221]:
for p_tag in weekly_wetherforecast[7].find_all('p'):
    print(p_tag.text)

Thursday

ChanceShowers
High: 58 °F

In [206]:
weekly_wetherforecast[8]

<div class="tombstone-container">
<p class="period-name">Thursday<br/>Night</p>
<p><img alt="Thursday Night: A chance of showers.  Mostly cloudy, with a low around 50." class="forecast-icon" src="newimages/medium/nshra.png" title="Thursday Night: A chance of showers.  Mostly cloudy, with a low around 50."/></p><p class="short-desc">Chance<br/>Showers</p><p class="temp temp-low">Low: 50 °F</p></div>

In [222]:
for p_tag in weekly_wetherforecast[8].find_all('p'):
    print(p_tag.text)

ThursdayNight

ChanceShowers
Low: 50 °F

In [225]:
weekly_wether=weather_details.find_all('div',class_="row row-odd row-forecast")
weekly_wether

[<div class="row row-odd row-forecast"><div class="col-sm-2 forecast-label"><b>Tonight</b></div><div class="col-sm-10 forecast-text">Partly cloudy, with a low around 46. West southwest wind 5 to 8 mph. </div></div>,
 <div class="row row-odd row-forecast"><div class="col-sm-2 forecast-label"><b>Monday Night</b></div><div class="col-sm-10 forecast-text">Mostly cloudy, with a low around 49. West wind 7 to 11 mph. </div></div>,
 <div class="row row-odd row-forecast"><div class="col-sm-2 forecast-label"><b>Tuesday Night</b></div><div class="col-sm-10 forecast-text">Partly cloudy, with a low around 47. West wind 5 to 8 mph becoming calm  after midnight. </div></div>,
 <div class="row row-odd row-forecast"><div class="col-sm-2 forecast-label"><b>Wednesday Night</b></div><div class="col-sm-10 forecast-text">Partly cloudy, with a low around 48.</div></div>,
 <div class="row row-odd row-forecast"><div class="col-sm-2 forecast-label"><b>Thursday Night</b></div><div class="col-sm-10 forecast-text">A chance of showers.  Mostly cloudy, with a low around 50.</div></div>,
 <div class="row row-odd row-forecast"><div class="col-sm-2 forecast-label"><b>Friday Night</b></div><div class="col-sm-10 forecast-text">A chance of showers.  Mostly cloudy, with a low around 49.</div></div>,
 <div class="row row-odd row-forecast"><div class="col-sm-2 forecast-label"><b>Saturday Night</b></div><div class="col-sm-10 forecast-text">A chance of rain.  Mostly cloudy, with a low around 48.</div></div>]

In [229]:
weekly_wether[5]

<div class="row row-odd row-forecast"><div class="col-sm-2 forecast-label"><b>Friday Night</b></div><div class="col-sm-10 forecast-text">A chance of showers.  Mostly cloudy, with a low around 49.</div></div>

In [232]:
for div_tag in weekly_wether[5].find_all('div'):
    print(div_tag.text)

Friday Night
A chance of showers.  Mostly cloudy, with a low around 49.

In [230]:
weekly_wether[6]

<div class="row row-odd row-forecast"><div class="col-sm-2 forecast-label"><b>Saturday Night</b></div><div class="col-sm-10 forecast-text">A chance of rain.  Mostly cloudy, with a low around 48.</div></div>

In [233]:
for div_tag in weekly_wether[6].find_all('div'):
    print(div_tag.text)

Saturday Night
A chance of rain.  Mostly cloudy, with a low around 48.