1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [25]:
#importing required libraries
import selenium
import time
import requests
import re
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [899]:
#let's connect to the webdriver
driver = webdriver.Chrome("C:/Users/key/AppData/Roaming/Microsoft/Windows/Start Menu/Programs/chromedriver_win32/chromedriver.exe")

In [27]:
Url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
# Opening the URL
driver.get(Url)

In [29]:
#URL Error
link = driver.find_element_by_xpath('//a[@class="external text"]').get_attribute("href")
driver.get(link)

In [31]:
#Actual URL
Actual_Url = driver.find_element_by_xpath('//div[@class="mw-search-result-heading"]/a').get_attribute("href")
driver.get(Actual_Url)

In [21]:
# creating empty lists for scraping data
topytube_video = {}
topytube_video['Ranking'] = [][:30]
topytube_video['Name'] = [][:30]
topytube_video['Artist'] = [][:30]
topytube_video['Upload_date'] = [][:30]
topytube_video['Views'] = [][:30]

In [22]:
topytube_video['Ranking'].clear()
topytube_video['Name'].clear()
topytube_video['Artist'].clear()
topytube_video['Upload_date'].clear()
topytube_video['Views'].clear()

In [40]:
# Ranking
rank = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for r in rank:
    topytube_video['Ranking'].append(r.text)

# Name
vn = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for n in vn:
    topytube_video['Name'].append(n.text)
    
# Artist
ar = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for a in ar:
    topytube_video['Artist'].append(a.text)
    
# Upload date
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for d in dt:
    topytube_video['Upload_date'].append(d.text)
    
# Views
tv = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for v in tv:
    topytube_video['Views'].append(v.text)

In [41]:
topytube_df = pd.DataFrame(topytube_video)
topytube_df[:30]

,Ranking,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.04
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.23
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.20
3,4.,"""See You Again""[26]",Wiz Khalifa,"April 6, 2015",4.99
4,5.,"""Johny Johny Yes Papa""[29]",LooLoo Kids,"October 8, 2016",4.87
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.10
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",3.99
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.72
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.71
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.59
11,12.,"""Sorry""[37]",Justin Bieber,"October 22, 2015",3.41
12,13.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.40
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.29
14,15.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.21
15,16.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.20
16,17.,"""Dame Tu Cosita""[42]",El Chombo,"April 5, 2018",3.14
17,18.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.02
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.00
19,20.,"""Lean On""[45]",Major Lazer Official,"March 22, 2015",2.98
20,21.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",2.98
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",2.98
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",2.97
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.92
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.87
25,26.,"""Hello""[51]",Adele,"October 22, 2015",2.79
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.76
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.75
28,29.,"""Blank Space""[54]",Taylor Swift,"November 10, 2014",2.73
29,30.,"""Chantaje""[55]",Shakira,"November 18, 2016",2.63

In [61]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [62]:
#let's connect to the webdriver
driver = webdriver.Chrome("C:/Users/key/AppData/Roaming/Microsoft/Windows/Start Menu/Programs/chromedriver_win32/chromedriver.exe")

In [63]:
Url = "https://www.bcci.tv/"
# Opening the URL
driver.get(Url)

In [65]:
#from home of bcci.tv reaching to international fixture page
fixture_link = driver.find_element_by_xpath('//div[@class="drop-down__options"]/ul/li[1]/a').get_attribute("href")
driver.get(fixture_link)

In [66]:
#clicking show me more button
showmore_button = driver.find_element_by_xpath('//span[@class="button__text"]')
showmore_button.click()

In [139]:
# creating empty lists for scraping data
Match_title=[]
Series=[]
Place=[]
Date=[]
Time_IST=[]

In [140]:
#match title
title = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')

In [141]:
Match_title.clear()

In [142]:
for i in title:
    if i.text is None :
        Match_title.append("--")
    else:
        Match_title.append(i.text)

In [143]:
#Series
series = driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')

In [144]:
Series.clear()

In [145]:
for i in series:
    if i.text is None :
        Series.append("--")
    else:
        Series.append(i.text)

In [146]:
#Place
place = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')

In [147]:
for i in place:
    if i.text is None :
        Place.append("--")
    else:
        Place.append(i.text)

In [148]:
#Date
date = driver.find_elements_by_xpath('//span[@class="fixture__datetime tablet-only"]/strong')

In [149]:
for i in date:
    if i.text is None :
        Date.append("--")
    else:
        Date.append(i.text)

In [150]:
#Time
time = driver.find_elements_by_xpath('//span[@class="fixture__datetime tablet-only"]')

In [151]:
Time.clear()

In [152]:
for i in time:
    if i.text is None :
        Time_IST.append("--")
    else:
        Time_IST.append(i.text.split()[3:4])

In [153]:
print(len(Match_title), len(Series), len(Place), len(Date), len(Time_IST))

14 14 14 14 14

In [154]:
Ind_fixtures = pd.DataFrame({})
Ind_fixtures['Match_title'] = Match_title
Ind_fixtures['Series'] = Series
Ind_fixtures['Place'] = Place
Ind_fixtures['Date'] = Date
Ind_fixtures['Time(IST)'] = Time_IST

In [155]:
Ind_fixtures

,Match_title,Series,Place,Date,Time(IST)
0,4th Test,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 4 March,[09:30]
1,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Friday 12 March,[19:00]
2,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Sunday 14 March,[19:00]
3,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Tuesday 16 March,[19:00]
4,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Thursday 18 March,[19:00]
5,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",Saturday 20 March,[19:00]
6,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Tuesday 23 March,[13:30]
7,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Friday 26 March,[13:30]
8,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",Sunday 28 March,[13:30]
9,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4 August,[15:30]
10,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12 August,[15:30]
11,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25 August,[15:30]
12,4th Test,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2 September,[15:30]
13,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10 September,[15:30]

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [156]:
Url = "https://www.guru99.com/"
# Opening the URL
driver.get(Url)

In [161]:
#from home page of guru99 reaching to selenium tutorial page
selenium_button = driver.find_element_by_xpath('//ul[@id="java_technologies"]/li[3]/a')
selenium_button.click()

In [ ]:
#from selenium tutorial page of guru99 reaching to selenium exception handling page
tutorial_button = driver.find_element_by_xpath('//div[@class="item-page"]/div[2]/table[5]/tbody/tr[2]/td[1]')
tutorial_button.click()

In [167]:
# creating empty lists for scraping data
Exception_name=[]
Description=[]

In [177]:
#Exception name
exception= driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')

In [178]:
Exception_name.clear()

In [179]:
for i in exception:
    Exception_name.append(i.text)

In [181]:
#Description
description= driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')

In [182]:
for i in description:
    Description.append(i.text)

In [184]:
print(len(Exception_name), len(Description))

42 42

In [186]:
exceptions_list = pd.DataFrame({})
exceptions_list['Exception_name'] = Exception_name[1:43]
exceptions_list['Description'] = Description[1:43]

In [187]:
exceptions_list

,Exception_name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [188]:
Url = "https://statisticstimes.com/"
# Opening the URL
driver.get(Url)

In [189]:
#from home page of statisticstimes reaching to economy page
Indeconomy_link = driver.find_element_by_xpath('//div[@class="dropdown"]/div/a[3]').get_attribute("href")
driver.get(Indeconomy_link)

In [190]:
#from economy page page of statisticstimes reaching to GDP of Indian states page
GDP_button = driver.find_element_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
GDP_button.click()

In [191]:
# creating empty lists for scraping data
Rank=[]
State=[]
GSDP_2019=[]
GSDP_2018=[]
Share_2018=[]
GDP_Billdollar=[]

In [192]:
#Rank
rank= driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')

In [193]:
#iterating through each element in rank and storing the text in Rank list.
for i in rank:
    if i.text is None :
        Rank.append("--")
    else:
        Rank.append(i.text)

In [195]:
#State
state= driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')

In [196]:
#iterating through each element in state and storing the text in State list.
for i in state:
    if i.text is None :
        State.append("--")
    else:
        State.append(i.text)

In [198]:
#GSDP_2019
GSDP19= driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')

In [199]:
#iterating through each element in GSDP19 and storing the text in GSDP_2019 list.
for i in GSDP19:
    if i.text is None :
        GSDP_2019.append("--")
    else:
        GSDP_2019.append(i.text)

In [201]:
#GSDP_2018
GSDP18= driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')

In [202]:
#iterating through each element in GSDP18 and storing the text in GSDP_2018 list.
for i in GSDP18:
    if i.text is None :
        GSDP_2018.append("--")
    else:
        GSDP_2018.append(i.text)

In [204]:
#Share_2018
share2018= driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')

In [205]:
#iterating through each element in GSDP18 and storing the text in GSDP_2018 list.
for i in share2018:
    if i.text is None :
        Share_2018.append("--")
    else:
        Share_2018.append(i.text)

In [207]:
#GDP_Billdollar
GDP2019= driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')

In [208]:
#iterating through each element in GSDP18 and storing the text in GSDP_2018 list.
for i in GDP2019:
    if i.text is None :
        GDP_Billdollar.append("--")
    else:
        GDP_Billdollar.append(i.text)

In [210]:
GDP_IndStates={}
GDP_IndStates['Rank'] = Rank
GDP_IndStates['State'] = State
GDP_IndStates['GSDP_2019'] = GSDP_2019
GDP_IndStates['GSDP_2018'] = GSDP_2018
GDP_IndStates['Share_2018'] = Share_2018
GDP_IndStates['GDP_$Billion_2019'] = GDP_Billdollar

In [211]:
GDP_IndStates=pd.DataFrame(GDP_IndStates)
GDP_IndStates

,Rank,State,GSDP_2019,GSDP_2018,Share_2018,GDP_$Billion_2019
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [919]:
#let's connect to the webdriver
driver = webdriver.Chrome("C:/Users/key/AppData/Roaming/Microsoft/Windows/Start Menu/Programs/chromedriver_win32/chromedriver.exe")

In [920]:
Url = "https://github.com/"
# Opening the URL
driver.get(Url)

In [921]:
#from home page of GitHub reaching to trending option from explore menu.
trending_url = driver.find_element_by_xpath('//div[@class="dropdown-menu flex-auto rounded-1 color-bg-primary px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4"]/ul[2]/li[3]/a').get_attribute("href")
driver.get(trending_url)

In [916]:
# creating empty lists for scraping data
Repository_title=[]
Repository_description=[]

In [952]:
Contributors_count=[]
Language_used=[]

In [917]:
#accessing full details of repositories
urls=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a") #collecting urls of all the repositories
UR=[]
for i in urls:
    UR.append(i.get_attribute('href'))#getting the urls into list
for url in UR:#loop for every repository in the list    

    driver.get(url)
    try: 
        title=driver.find_element_by_xpath("//strong[@class='mr-2 flex-self-stretch']/a")#locating the title
        Repository_title.append(title.text)#appending the title in list
    except NoSuchElementException as e:
        Repository_title.append("--")
    try:     
        description=driver.find_element_by_xpath("//p[@class='f4 mt-3']")# locating Repository_description
        Repository_description.append(description.text)#appending the description in list
    except NoSuchElementException as e:
        Repository_description.append("--")

In [953]:
for url in UR:#loop for every repository in the list
    
    driver.get(url)
    try:
        element=driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[4]/div[1]/h2[1]/a/span")
        #contributors=driver.find_elements_by_class_name("BorderGrid BorderGrid--spacious")#locating the Contributors
        if(element.text is not None):
            Contributors_count.append(element.text)
        else:
            element2=driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[5]/div[1]/h2[1]/a/span")
            Contributors_count.append(element2.text)    
    except NoSuchElementException as e:
        Contributors_count.append("--")

In [957]:
Contributors_count

['--',
 '21',
 '--',
 '5,000+',
 '--',
 '229',
 '--',
 '125',
 '--',
 '--',
 '',
 '--',
 '8',
 '',
 '--',
 '',
 '--',
 '--',
 '587',
 '1,370',
 '--',
 '--',
 '161',
 '--',
 '--']

In [955]:
for url in UR:#loop for every repository in the list    

    driver.get(url)
    try:
        language=driver.find_elements_by_xpath("//div[@class='BorderGrid-cell']/ul/li/a/span[1]")#locating the languages
        for i in language:
            Language_used.append(i.text)#appending the language in list
    except NoSuchElementException as e:
        Language_used.append("--")

In [956]:
Language_used

['Rust',
 'HTML',
 'Shell',
 'PowerShell',
 'Python',
 'Dockerfile',
 'Go',
 'Shell',
 'Python',
 'Lua',
 'C#',
 'C',
 'nu',
 'Rust',
 'Dockerfile',
 'C',
 'Assembly',
 'C++',
 'Shell',
 'Makefile',
 'Perl',
 'Jupyter Notebook',
 'Python',
 'C',
 'Makefile',
 'Shell',
 'C++',
 'Roff',
 'Python',
 'JavaScript',
 'HTML',
 'CSS',
 'Python',
 'Dockerfile',
 'C',
 'Shell',
 'Perl',
 'Tcl',
 'Python',
 'Makefile',
 'Python',
 'Python',
 'Groovy',
 'PowerShell',
 'HTML',
 'Lua',
 'svelte-nodegui-starter',
 'svelte-nodegui',
 'TypeScript',
 'JavaScript',
 'JavaScript',
 'Dart',
 'Objective-C',
 'Java',
 'C++',
 'Shell',
 'CMake',
 'C',
 'C++',
 'Makefile',
 'Python',
 'Objective-C',
 'Shell',
 'TypeScript',
 'JavaScript',
 'CSS',
 'Inno Setup',
 'HTML',
 'Shell',
 'Java',
 'GLSL',
 'JavaScript',
 'Shell',
 'Ruby',
 'Roff',
 'Solidity',
 'HTML',
 'Ruby',
 'JavaScript']

In [401]:
GitHub_Repositories={}
GitHub_Repositories['Repository_title'] = Repository_title
GitHub_Repositories['Repository_description'] = Repository_description
GitHub_Repositories['Contributors_count'] = Contributors_count
GitHub_Repositories['Language_used'] = Language_used

In [402]:
GitHub_Repositories=pd.DataFrame(GitHub_Repositories)
GitHub_Repositories

,Repository_title,Repository_description,Contributors_count,Language_used
0,jd_maotai_seckill,优化版本的京东茅台抢购神器,25,Python
1,GTAO_Booster_PoC,--,,TypeScript
2,filament,The elegant TALL stack admin for Laravel artis...,5,C
3,PaddleGAN,"PaddlePaddle GAN library, including lots of in...",45,Clojure
4,ytfzf,A posix script to find and watch youtube video...,--,Go
5,aws-sdk-go,AWS SDK for the Go programming language.,--,Objective-C
6,googletest,Googletest - Google Testing and Mocking Framework,17,Objective-C
7,content,Demisto is now Cortex XSOAR. Automate and orch...,54,C
8,Power-Fx,Power Fx low-code programming language,--,JavaScript
9,clarion,--,140,HTML
10,Web-Dev-For-Beginners,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",--,Python
11,brackets,"An open source code editor for the web, writte...",12,Go
12,engineering-blogs,A curated list of engineering blogs,146,TypeScript
13,influxdb,"Scalable datastore for metrics, events, and re...",,Shell
14,openchat,Opensource chatting framework for generative m...,--,JavaScript
15,front-end-interview-handbook,"🕸 No-bullshit answers to the famous h5bp ""Fron...",--,Python
16,scaffold-eth,🏗 forkable Ethereum dev stack focused on fast ...,--,C++
17,firebase-ios-sdk,Firebase iOS SDK,91,JavaScript
18,PyTorch-StudioGAN,StudioGAN is a Pytorch library providing imple...,--,Python
19,sigma,Generic Signature Format for SIEM Systems,1,demo
20,CVPR2021-Paper-Code-Interpretation,cvpr2021/cvpr2020/cvpr2019/cvpr2018/cvpr2017 论...,--,Java
21,maelstrom,A workbench for writing toy implementations of...,--,--
22,next.js,The React Framework,--,--
23,PoC-in-GitHub,📡 PoC auto collect from GitHub. ⚠️ Be careful ...,372,JavaScript
24,client_golang,Prometheus instrumentation library for Go appl...,--,Go

6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [900]:
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
delay=10 #seconds
import time

In [901]:
Url = "https://www.billboard.com/"
# Opening the URL
driver.get(Url)

In [902]:
#from home page of billboard.com reaching to sharts page.
Charts_link = driver.find_element_by_xpath('//div[@class="mobile-menu bg--dark hide--lg"]/div[1]/ul[1]/li[1]/a').get_attribute("href")
driver.get(Charts_link )

In [903]:
#from charts page of billboard.com reaching to Hot 100 page by clicking View Chart button.
view_chart = driver.find_element_by_xpath('//div[@class="charts-landing__info--view-chart"]')
view_chart.click()

In [906]:
# creating empty lists for scraping data
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [907]:
#clicking on each song button and scraping details
button= driver.find_elements_by_xpath('//button[@class="chart-element__wrapper display--flex flex--grow sort--this-week"]')
for i in button[0:100]:
    i.click()
    
    #Last_week_rank
    #try:
        #last_rank= driver.find_element_by_xpath('//div[@class="chart-tabs__panel chart-tabs__panel--stats"]/div[1]/div[1]')
        #Last_week_rank.append(last_rank.text)
    #except StaleElementReferenceException as e:
        #WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'chart-tabs__panel chart-tabs__panel--stats')))
        #last_rank= driver.find_element_by_xpath('//div[@class="chart-tabs__panel chart-tabs__panel--stats"]/div[1]/div[1]')
        #Last_week_rank.append(last_rank.text)
    
    #Peak_rank
    #try:
        #peak= driver.find_element_by_xpath('//div[@class="chart-tabs__panel chart-tabs__panel--stats"]/div[2]/div[1]')
        #Peak_rank.append(peak.text)
    #except StaleElementReferenceException as e:
        #WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'chart-tabs__panel chart-tabs__panel--stats')))
        #peak= driver.find_element_by_xpath('//div[@class="chart-tabs__panel chart-tabs__panel--stats"]/div[2]/div[1]')
        #Peak_rank.append(peak.text)
    
    #Weeks_on_board
    #try:
        #weeks= driver.find_element_by_xpath('//div[@class="chart-tabs__panel chart-tabs__panel--stats"]/div[3]/div[1]')
        #Weeks_on_board.append(weeks.text)
    #except StaleElementReferenceException as e:
        #WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'chart-tabs__panel chart-tabs__panel--stats')))     
        #weeks= driver.find_element_by_xpath('//div[@class="chart-tabs__panel chart-tabs__panel--stats"]/div[3]/div[1]')
        #Weeks_on_board.append(weeks.text)
        
    
    time.sleep(10) 
    
    #Song_name
    try:
        name= driver.find_element_by_xpath('//div[@class="show-more chart-element__information show-more--collapsed"]/div[1]')
        Song_name.append(name.text)
    except NoSuchElementException as e:
        Song_name.append("--")
        
    #Artist_name
    try:
        artist= driver.find_element_by_xpath('//div[@class="show-more chart-element__information show-more--collapsed"]/div[2]')
        Artist_name.append(artist.text)
    except NoSuchElementException as e:
        Artist_name.append("--") 
    
    #Last_week_rank
    try:
        last_rank= driver.find_element_by_xpath('//div[@class="chart-tabs__panels"]/div[1]/div[1]/div[1]')
        Last_week_rank.append(last_rank.text)
    except NoSuchElementException as e:
        Last_week_rank.append("--")
    
    #Peak_rank
    try:
        peak= driver.find_element_by_xpath('//div[@class="chart-tabs__panels"]/div[1]/div[2]/div[1]')
        Peak_rank.append(peak.text)
    except NoSuchElementException as e:
        Peak_rank.append("--")
    
    #Weeks_on_board
    try:
        weeks= driver.find_element_by_xpath('//div[@class="chart-tabs__panels"]/div[1]/div[3]/div[1]')
        Weeks_on_board.append(weeks.text)
    except NoSuchElementException as e:
        Weeks_on_board.append("--")

In [909]:
print(len(Song_name), len(Artist_name), len(Last_week_rank), len(Peak_rank), len(Weeks_on_board))

100 100 100 100 100

In [912]:
TOP100Songs_Billboard={}
TOP100Songs_Billboard['Song_name'] = Song_name
TOP100Songs_Billboard['Artist_name'] = Artist_name
TOP100Songs_Billboard['Last_week_rank'] = Last_week_rank
TOP100Songs_Billboard['Peak_rank'] = Peak_rank
TOP100Songs_Billboard['Weeks_on_board'] = Weeks_on_board

In [913]:
TOP100Songs_Billboard=pd.DataFrame(TOP100Songs_Billboard)
TOP100Songs_Billboard

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Drivers License,Olivia Rodrigo,1,7,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,--,--,--
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,--,--,--
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,--,--,--
99,Like I Want You,Giveon,95,95,2

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [509]:
Url = "https://www.naukri.com/"
# Opening the URL
driver.get(Url)

In [496]:
#removing share your current location notification
Later_button = driver.find_element_by_xpath('//div[@id="geoLocPopUp"]/span[1]')
Later_button.click()

In [510]:
#from naukri.com home page going to recruiters page
recruiters_link = driver.find_element_by_xpath('//ul[@class="midSec menu"]/li[2]/a').get_attribute("href")
driver.get(recruiters_link)

In [511]:
#locating the search bar
search_bar=driver.find_element_by_xpath("//input[@class='sugInp']")
search_bar.send_keys('Data Science')

In [512]:
# clicking the search button
search_button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
search_button.click()

In [483]:
# creating empty lists for scraping data
Recruiter_name=[]
Recruiter_designation=[]
Recruiter_company=[]
Recruiter_location=[]
Skills_hire=[]

In [485]:
#Recruiter_name
name= driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')

In [486]:
#iterating through each element in name and storing the text in Recruiter_name list.
for i in name:
    if i.text is None :
        Recruiter_name.append("--")
    else:
        Recruiter_name.append(i.text)

In [487]:
#Recruiter_designation
designation= driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')

In [488]:
#iterating through each element in designation and storing the text in Recruiter_designation list.
for i in designation:
    if i.text is None :
        Recruiter_designation.append("--")
    else:
        Recruiter_designation.append(i.text)

In [489]:
#Recruiter_company
company= driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')

In [490]:
#iterating through each element in company and storing the text in Recruiter_company list.
for i in company:
    if i.text is None :
        Recruiter_company.append("--")
    else:
        Recruiter_company.append(i.text)

In [520]:
Recruiter_location.clear()

In [521]:
#locating all the locations of recruiters
urls=driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]") #collecting urls of all the recruiters
UR=[]
for i in urls[:50]:
    UR.append(i.get_attribute('href'))#getting the urls into list
for url in UR:#loop for every recruiter in the list
    driver.get(url)

    try: 
        location=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[5]/a")
        Recruiter_location.append(location.text)
    except NoSuchElementException as e:
        Recruiter_location.append("--")

In [514]:
#Skills_hire
skills= driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')

In [515]:
#iterating through each element in skills and storing the text in Skills_hire list.
for i in skills:
    if i.text is None :
        Skills_hire.append("--")
    else:
        Skills_hire.append(i.text)

In [522]:
print(len(Recruiter_name), len(Recruiter_designation), len(Recruiter_company), len(Recruiter_location), len(Skills_hire))

50 50 50 50 50

In [523]:
Recruiters_info={}
Recruiters_info['Recruiter_name'] = Recruiter_name
Recruiters_info['Recruiter_designation'] = Recruiter_designation
Recruiters_info['Recruiter_company'] = Recruiter_company
Recruiters_info['Recruiter_location'] = Recruiter_location
Recruiters_info['Skills_hire']= Skills_hire

In [524]:
Recruiters_info=pd.DataFrame(Recruiters_info)
Recruiters_info

,Recruiter_name,Recruiter_designation,Recruiter_company,Recruiter_location,Skills_hire
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,Chandigarh,"Web Designing, html5, Angular.js, seo, hadoop,..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
5,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,Delhi,"Python, Data Science, .Net, Java, Big Data, Da..."
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
10,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
12,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
13,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
15,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
16,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
21,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
24,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
27,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,Others,"Signal Processing, Machine Learning, Neural Ne..."
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
31,Prateek Kumar,Head,Trisect,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
32,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
33,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
38,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
41,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
43,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
44,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
45,Amir Chowdhury,Managing Partner,Granular.ai,,"Machine Learning, Data Science, Product Manage..."
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy..."
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Noida,"consulting, Education Counseling, Educational ..."
48,Sunny Sharma,Managing Director - HR,Western Service Providers,Mumbai,"Software Professionals, Engineering, Technical..."
49,Sagar Lama,Company HR Manager,AdView,Bengaluru / Bangalore,"Full Stack Developers, Product Manager, Data S..."

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [690]:
Url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
# Opening the URL
driver.get(Url)

In [691]:
# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [692]:
#Book_name
Bname= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')

In [693]:
#iterating through each element in Bname and storing the text in Book_name list.
for i in Bname:
    Book_name.append(i.text)

In [696]:
len(Book_name)

100

In [695]:
#Author_name
Author= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')

In [697]:
#iterating through each element in Author and storing the text in Author_name list.
for i in Author:
    Author_name.append(i.text)

In [698]:
len(Author_name)

100

In [699]:
#Volumes_sold
Volumes= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')

In [700]:
#iterating through each element in Volumes and storing the text in Volumes_sold list.
for i in Volumes:
    Volumes_sold.append(i.text)

In [701]:
len(Volumes_sold)

100

In [702]:
#Publisher
Pub= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')

In [703]:
#iterating through each element in Pub and storing the text in Publisher list.
for i in Pub:
    Publisher.append(i.text)

In [704]:
len(Publisher)

100

In [705]:
#Genre
Gen= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')

In [706]:
#iterating through each element in Gen and storing the text in Genre list.
for i in Gen:
    Genre.append(i.text)

In [707]:
len(Genre)

100

In [708]:
Books_info={}
Books_info['Book_name'] = Book_name
Books_info['Author_name'] = Author_name
Books_info['Volumes_sold'] = Volumes_sold
Books_info['Publisher'] = Publisher
Books_info['Genre']= Genre

In [709]:
Books_info=pd.DataFrame(Books_info)
Books_info

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [612]:
Url = "https://www.imdb.com/list/ls095964455/"
# Opening the URL
driver.get(Url)

In [618]:
# creating empty lists for scraping data
Series_name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [619]:
#Series_name
Sname= driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/a')

In [620]:
#iterating through each element in Sname and storing the text in Series_name list.
for i in Sname:
    if i.text is None :
        Series_name.append("--")
    else:
        Series_name.append(i.text)

In [622]:
#Year_span
year= driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/span[2]')

In [623]:
#iterating through each element in year and storing the text in Year_span list.
for i in year:
    if i.text is None :
        Year_span.append("--")
    else:
        Year_span.append(i.text)

In [625]:
#Genre
Gn= driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[1]/span[5]')

In [626]:
#iterating through each element in Gn and storing the text in Genre list.
for i in Gn:
    if i.text is None :
        Genre.append("--")
    else:
        Genre.append(i.text)

In [628]:
#Run_time
time= driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[1]/span[3]')

In [629]:
#iterating through each element in time and storing the text in Run_time list.
for i in time:
    if i.text is None :
        Run_time.append("--")
    else:
        Run_time.append(i.text)

In [631]:
#Ratings
Rating= driver.find_elements_by_xpath('//div[@class="lister-item-content"]/div[1]/div[1]/span[2]')

In [632]:
#iterating through each element in Rating and storing the text in Ratings list.
for i in Rating:
    if i.text is None :
        Ratings.append("--")
    else:
        Ratings.append(i.text)

In [638]:
Votes.clear()

In [639]:
#Votes
Vot= driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')

In [640]:
#iterating through each element in Vot and storing the text in Votes list.
for i in Vot:
    if i.text is None :
        Votes.append("--")
    else:
        Votes.append(i.text)

In [642]:
print(len(Series_name), len(Year_span), len(Genre), len(Run_time), len(Ratings),len(Votes))

100 100 100 100 100 100

In [645]:
IMDBseries_info={}
IMDBseries_info['Series_name'] = Series_name
IMDBseries_info['Year_span'] = Year_span
IMDBseries_info['Genre'] = Genre
IMDBseries_info['Run_time'] = Run_time
IMDBseries_info['Ratings']= Ratings
IMDBseries_info['Votes']= Votes

In [646]:
IMDBseries_info=pd.DataFrame(IMDBseries_info)
IMDBseries_info

,Series_name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,752"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"829,287"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"857,004"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,265"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,822"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,771"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,103"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,312"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,207"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,963"

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [647]:
Url = "https://archive.ics.uci.edu/"
# Opening the URL
driver.get(Url)

In [648]:
#from home page going to View All Datasets page
button = driver.find_element_by_xpath('//span[@class="whitetext"]/a/font/b')
button.click()

In [649]:
# creating empty lists for scraping data
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [650]:
#Dataset_name
Dname= driver.find_elements_by_xpath('//p[@class="normal"]/b/a')

In [651]:
#iterating through each element in Dname and storing the text in Dataset_name list.
for i in Dname:
    if i.text is None :
        Dataset_name.append("--")
    else:
        Dataset_name.append(i.text)

In [666]:
#Data_type
Dtype= driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')

In [667]:
#iterating through each element in Dtype and storing the text in Data_type list.
for i in Dtype:
    if i.text is None :
        Data_type.append("--")
    else:
        Data_type.append(i.text)

In [669]:
#Task
Tk= driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')

In [670]:
#iterating through each element in Tk and storing the text in Task list.
for i in Tk:
    if i.text is None :
        Task.append("--")
    else:
        Task.append(i.text)

In [673]:
#Attribute_type
Attribute= driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')

In [674]:
#iterating through each element in Attribute and storing the text in Attribute_type list.
for i in Attribute:
    if i.text is None :
        Attribute_type.append("--")
    else:
        Attribute_type.append(i.text)

In [676]:
#No_of_instances
Instances= driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')

In [677]:
#iterating through each element in Instances and storing the text in No_of_instances list.
for i in Instances:
    if i.text is None :
        No_of_instances.append("--")
    else:
        No_of_instances.append(i.text)

In [679]:
#No_of_attribute
No_Att= driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')

In [680]:
#iterating through each element in No_Att and storing the text in No_of_attribute list.
for i in No_Att:
    if i.text is None :
        No_of_attribute.append("--")
    else:
        No_of_attribute.append(i.text)

In [682]:
#Year
Yr= driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')

In [683]:
#iterating through each element in Yr and storing the text in Year list.
for i in Yr:
    if i.text is None :
        Year.append("--")
    else:
        Year.append(i.text)

In [685]:
print(len(Dataset_name), len(Data_type), len(Task), len(Attribute_type), len(No_of_instances),len(No_of_attribute),len(Year))

585 586 586 586 586 586 586

In [688]:
UCIrepos_info={}
UCIrepos_info['Dataset_name'] = Dataset_name
UCIrepos_info['Data_type'] = Data_type[1:]
UCIrepos_info['Task'] = Task[1:]
UCIrepos_info['Attribute_type'] = Attribute_type[1:]
UCIrepos_info['No_of_instances']= No_of_instances[1:]
UCIrepos_info['No_of_attribute']= No_of_attribute[1:]
UCIrepos_info['Year']= Year[1:]

In [689]:
UCI_ML_Repositories=pd.DataFrame(UCIrepos_info)
UCI_ML_Repositories

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020